::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #bbb; 
}

::-webkit-scrollbar-thumb:hover {
  background: #777; 
}

.search-high-light {
  padding: 1px;
  border-radius: 4px;
  background-color: #d0edf7;
}